﻿@model List<PhotoContest.Web.Models.ReviewViewModel>


<div class="accordion mt-3 mb-3" id="accordionExample">

    @foreach (var review in Model)
    {
        if (review.Comment != null &&  review.Comment.Length > 0)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(review.ReviewId)" aria-expanded="false"
                            aria-controls="collapse@(review.ReviewId)">
                        Scoore: @review.Score, Reviewer: @(review.ReviewerOrganizer??review.ReviewerUser)
                    </button>
                </h2>
                <div id="collapse@(review.ReviewId)" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Comment: @review.Comment
                    </div>
                </div>
            </div>
        }
    }

</div>