﻿@model PhotoContest.Services.DTOs.ContestDTO

@{
    var finalDate = Model.CreateOnDate.AddDays(Model.TimeLimitPhaseOne);
}
 
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">@Model.Title</div>
        <div class="card-body text-primary">
            <h5 class="card-title">@Model.ContestType</h5>
            <p class="card-text">Created: @Model.CreateOnDate</p>


            @if (Context.Session.GetString("organizerUsername") != null)
            {
                <a class="btn btn-primary col-6" asp-controller="Dashboard" asp-action="Contest" asp-route-id="@Model.ContestId">Details</a>
            }
            else if (Context.Session.GetString("junkieUsername") != null)
            {
                @if (DateTime.UtcNow > Model.CreateOnDate && finalDate > DateTime.UtcNow && Model.ContestType.ToLower().Equals("open"))
                {
                    <a class="btn btn-primary col-6" asp-controller="Dashboard" asp-action="Contest" asp-route-id="@Model.ContestId">Enroll</a>
                }
                else
                {
                    <a class="btn btn-primary col-6" asp-controller="Dashboard" asp-action="Contest" asp-route-id="@Model.ContestId">Details</a>
                }

            }
            else
            {
                <a class="btn btn-primary col-6" asp-controller="Account" asp-action="Login">Details</a>
            }

        </div>
    </div>
</div>