﻿@model PhotoContest.Web.Models.ContestItemViewModel

<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
    <div class="card">
        <img class="card-img-top" src="~/uploads/@Model.PhotoName" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">@Model.Title</h4>
            <p class="card-text">@Model.Story</p>
            @if (Context.Session.GetString("junkieUsername") != null || Context.Session.GetString("organizerUsername") != null)
            {
                <a asp-controller="Dashboard" asp-action="ContestItem" asp-route-id="@Model.ContestItemId" class="btn btn-primary">Details</a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Details</a>
            }

        </div>
    </div>
</div>