﻿@model PhotoContest.Services.DTOs.ContestDTO

<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">@Model.Title</div>
        <div class="card-body text-primary">
            <h5 class="card-title">@Model.ContestType</h5>
            <p class="card-text">Created: @Model.CreateOnDate</p>
            <a class="btn btn-primary col-6" asp-controller="Dashboard" asp-action="Contest" asp-route-id="@Model.ContestId">Details</a>
        </div>
    </div>
</div>