﻿
@if (Context.Session.GetString("junkieUsername") != null)
{
    <li class="nav-item pull-righ">
        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Junkie">Dashboard</a>
    </li>
}

@if (Context.Session.GetString("organizerUsername") != null)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="CreateContest">Create Contest</a>
    </li>
    <li class="nav-item pull-righ">
        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Organizer">Dashboard</a>
    </li>
}