﻿@model PhotoContest.Web.Models.UserViewModel

<li class="person" data-chat="person1">
    <div class="user">
        <img src="/images/avatar.png" alt="Retail Admin">
        <span class="status busy"></span>
    </div>
    <p class="name-time">
        <span class="name">@Model.FirsName @Model.LastName</span>
        <span class="time">       </span>
        <span class="time">Username: @Model.Username</span>
        <span class="time">Rating: @Model.RankingPoints</span>
        <span class="time">Rank: @Model.Rank</span>
    </p>
</li>
