﻿@model PhotoContest.Web.Models.PhaseTwoViewModel

<div class="container">

    <div class="row">

        <form enctype="multipart/form-data" class="form-horizontal" asp-action="PhaseTwo" method="post"
              asp-all-route-data="@(new Dictionary<string, string>(){ { "contestId", Model.ContestId.ToString() }, { "contestItemId", Model.ContestItemId.ToString() } })">

            <div class="control-group mb-3">
                <label asp-for="Score" class="control-label"></label>
                <div class="controls">
                    <input class="input-xlarge form-control" id="review-score" asp-for="Score">
                    <span class="text-danger" asp-validation-for="Score"></span>
                </div>
            </div>

            <div class="control-group mb-3">
                <label asp-for="Comment" class="control-label"></label>
                <div class="controls">
                    <textarea class="input-xlarge form-control" id="review-comment" asp-for="Comment"></textarea>
                    <span class="text-danger" asp-validation-for="Comment"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="IsInAppropriateCat" class="form-label"></label>
                <input class="form-check-input" id="is-appropriate" type="checkbox" asp-for="IsInAppropriateCat">
                <span class="text-danger" asp-validation-for="IsInAppropriateCat"></span>
            </div>

            <div class="control-group mb-3">
                <div class="controls">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
