﻿@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mb-4">
       
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img height="300" class="d-block w-100" src="~/uploads/slider-2.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img height="300" class="d-block w-100" src="~/uploads/slider-3.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img height="300" class="d-block w-100" src="~/uploads/slider-4.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <h1 class="display-6">Contest Categories</h1>
            <hr class="my-2">
            <div class="m-5">
                @foreach (var item in Model.Categories)
                {
                    <span class="badge bg-dark">@item.CategoryName</span>
                }
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <h4>Find out who won grand prize</h4>
            <p>
                Visual storytelling is the heart of National Geographic. Our photography contests feature images created by
                photographers from around the world, sharing visions that inspire, inform, and awe. Explore past contest winners
                and check back soon to join the next competition.
            </p>

            <p>
                Photographer Sergio Tapiro Velasco captured the grand prize of the 2017 National Geographic Travel
                Photographer of the Year Contest with his image of Mexico's Colima Volcano erupting. The contest received
                entries from around the globe, sharing scenes of nature, people, and places.
            </p>
        </div>


    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary">
                Currently in Phase I <span class="badge bg-secondary">@Model.OpenContestForEnroll</span>
            </button>
        </div>

    </div>

    <h1 class="display-6">Top 10 Photos</h1>
    <hr class="my-2">
    <div class="row">

        @foreach (var item in Model.ContestItems)
        {
            @await Html.PartialAsync("_ContestItemCard", item)
        }

    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#carouselExampleControls').carousel()
        });

    </script>
}