﻿@model PhotoContest.Web.Models.ContestItemViewModel
@{
    ViewData["Title"] = "Contest Item";
}

@section Style
{
    <link href="~/css/contestitem.css" rel="stylesheet" />
}

<div class="container">
    <div class="row mb-3">
        <div class="col-1">
            <a class="btn btn-outline-primary " asp-controller="Dashboard" asp-action="Contest" asp-route-id="@Model.ContestId">Back</a>
        </div>
        
    </div>
    <div class="col-xl-8col-md-12">
        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25"> <img src="~/uploads/@Model.PhotoName" width="100%" class="img-radius" alt="User-Profile-Image"> </div>
                        <h4 class="f-w-600">@Model.Title</h4>
                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card-block">

                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Score</p>
                                <h6 class="text-muted f-w-400">@Model.Score</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Story</p>
                                <h6 class="text-muted f-w-400">@Model.Story</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Author</p>
                                <h6 class="text-muted f-w-400">@Model.Name</h6>
                            </div>
                        </div>
                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Reviews</h6>

                        @await Html.PartialAsync("_Accordion", Model.Reviews)

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
