﻿@model PhotoContest.Web.Models.ContestViewModel

@{
    ViewData["Title"] = "Contest";
}

@section Style
{
    <link href="~/css/modalimage.css" rel="stylesheet" />
}

<div id="carouselExampleSlidesOnly" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/uploads/@Model.Photo" height="550" class="d-block w-100" alt="@Model.Title">
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <h4>Category: @Model.Category</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <p>@Model.TimeToNextPhase</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <h3>@Model.Title</h3>
        </div>
    </div>

    @if (Model.CurrentPhase.ToLower().Equals("finished"))
    {
        <div class="row mb-4">
            <div class="col-6">
                <h4>Winners</h4>
                <ul class="list-group">
                    @foreach (var item in Model.ContestWiners)
                    {
                        <li class="list-group-item" aria-current="true">@item.UserName Points: @item.RankingPoints Score @item.Score</li>
                    }
                </ul>


            </div>
        </div>
    }
    

    <div class="contest-items">
        <div class="row mb-3">
            <div class="col-2"><strong>Photo</strong></div>
            <div class="col-2"><strong>Title</strong></div>
            <div class="col-2"><strong>Junkie</strong></div>
            <div class="col-4"><strong>Story</strong></div>
            <div class="col-1"><strong>Score</strong></div>
            <div class="col-1"></div>

        </div>
        <hr />

        @foreach (var item in Model.ContestItems)
        {
            <div class="row">
                <div class="col-2">
                    <a class="btn" asp-controller="Dashboard" asp-action="ContestItem" asp-route-id="@item.ContestItemId">
                        <img width="100" src="~/uploads/@item.PhotoName" />
                    </a>
                </div>
                <div class="col-2">@item.Title</div>
                <div class="col-2">@item.Name</div>
                <div class="col-4">@item.Story</div>

                @if (Model.CurrentPhase.ToLower().Equals("finished"))
                {
                    <div class="col-1">
                        @string.Format("{0:N2}", item.Score)
                    </div>
                }


                <div class="col-1 mb-3">
                    @if (Model.CurrentPhase.ToLower().Equals("phase ii") && (AuthHelper.GetCurrentUserType(Context).ToLower().Equals("organaizer")
                      || Model.IsCurrentUserContestJury))
                    {

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.ContestItemId">
                            Add Review
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal-@item.ContestItemId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Review</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @await Component.InvokeAsync("PhaseTwo", new { contestId = Model.ContestId, contestItemId = item.ContestItemId })
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @if (Model.CurrentPhase.ToLower().Equals("finished") || AuthHelper.GetCurrentUserType(Context).ToLower().Equals("organaizer"))
                {
                    @await Html.PartialAsync("_Accordion", item.Reviews)
                }

            </div>
        }
    </div>

    @{
        if (Model.CurrentPhase.ToLower().Equals("phase i") && AuthHelper.GetCurrentUserType(Context).ToLower().Equals("user"))
        {
            if (Model.IsEnrolled == false)
            {
                if (!Model.IsCurrentUserContestJury)
                {
                    if (Model.IsInvited || Model.ContestType.ToLower().Equals("open"))
                    {
                        @await Component.InvokeAsync("PhaseOne", new { id = Model.ContestId });
                    }
                    else
                    {
                        <h3>You are Not Invited in this Contest!</h3>
                    }

                }
                else
                {
                    <h3>You are Joury in this Contest!</h3>
                }

            }
            else
            {
                <h3>You are enrolled to the Contest!</h3>
            }


        }
    }

</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () { 

            $("#is-appropriate").click(function () {
                if ($(this).prop("checked") == true) {
                    $('#review-score').val("0");
                   $('#review-score').prop("disabled", true);
                } else if ($(this).prop("checked") == false) {
                   $('#review-score').prop("disabled", false);
                }
            });
        });
    </script>
}