﻿@model PhotoContest.Web.Models.ContestsViewModel

@{
    ViewData["Title"] = "Contest";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <p>
                <h4>Competitions</h4>
                We made a huge list of international photography awards and competitions to help photographers keep up with all 
                the opportunities to gain exposure that are out there. The list is slightly curated to include awards aimed at 
                professional and semi-professional photographers from all around the world, but there are options for amateurs as 
                well. (We also have a huge list of international photography grants and fellowships and photobook publishers).
            </p>
            <ul>
                <li>NPPA’s Best of Photojournalism Awards (December – January)</li>
                <li>Days Japan International Photography Awards (August – January)</li>
                <li>FotoEvidence Book Award (November – January)</li>
                <li>Istanbul Photo Awards (November – January)</li>
                <li>Pictures of the Year International (November – January)</li>
                <li>World Press Photo Awards (December – January)</li>
                <li>CDS Documentary Essay Prize (Biannual / November – March)</li>
                <li>Freelens Award (November – March)</li>
                <li>Lammarhuber Photography Award (November – March)</li>
                <li>Henri Cartier-Bresson Award (March – April)</li>
                <li>Pictures of the Year Latam (March – April)</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <p><img src="~/uploads/eagle.jpg" width="100%"/></p>
        </div>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">

        <a class="btn btn-primary" id="phase-one" href="?type=phaseone" role="button">Phase I</a>
        <a class="btn btn-primary" id="phase-two" href="?type=phasetwo" role="button">Phase II</a>
        <a class="btn btn-primary" id="finished" href="?type=finished" role="button">Finished</a>
    </div>

    <div class="row mt-5 mb-3">
        @foreach (var item in Model.Contests)
        {
            @await Html.PartialAsync("_ContestCard", item)
        }
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);

            console.log(urlParams.get('type'));

            if (urlParams.get('type') === "phaseone") {
                $('#phase-one').css("opacity", "0.8");
            } else if (urlParams.get('type') === "phasetwo") {
                $('#phase-two').css("opacity", "0.8");
            } else if (urlParams.get('type') === "finished") {
                $('#finished').css("opacity", "0.8");
            } else {
                $('#phase-one').css("opacity", "0.8");
            }
        });
    </script>
} 