﻿@model PhotoContest.Web.Models.CreateContestViewModel

@{
    ViewData["Title"] = "Create Contest";
}

<div class="container">
    <div class="row col-4 col-md-12 col-sm-12">
        <form enctype="multipart/form-data" method="post" asp-action="CreateContest" asp-controller="Dashboard">

            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input class="form-control" id="title" asp-for="Title">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Categories" class="form-label"></label>
                <select class="form-select" aria-label="Default select example" asp-for="@Model.Category" asp-items="@Model.Categories"></select>
                <span class="text-danger" asp-validation-for="Categories"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Types" class="form-label"></label>
                <select id="type" class="form-select" aria-label="Default select example" asp-for="Type" asp-items="@Model.Types"></select>
                <span class="text-danger" asp-validation-for="Types"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input id="datepicker" asp-for="StartDate"  type="text" class="form-control" value="@DateTime.UtcNow.AddDays(1).ToString("yyyy-MM-dd")" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div id="invitation-list" style="display: none;" class="mb-3">
                <label asp-for="Participants" class="form-label"></label>
                <select multiple="multiple" class="form-select" aria-label="Default select example" asp-for="Participants" asp-items="@Model.ParticipantsAsSelList"></select>
                <span class="text-danger" asp-validation-for="Participants"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhaseOne" class="form-label"></label>
                <input type="number" value="0" min="1" max="31" class="form-control" id="phaseOne" asp-for="PhaseOne">
                <span class="text-danger" asp-validation-for="PhaseOne"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhaseTwo" class="form-label"></label>
                <input type="number" value="0" min="1" max="24" class="form-control" id="phaseTwo" asp-for="PhaseTwo">
                <span class="text-danger" asp-validation-for="PhaseTwo"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Juries" class="form-label"></label>
                <select multiple="multiple" class="form-select" aria-label="Default select example" asp-for="Juries" asp-items="Model.JuriesAsSelList"></select>
                <span class="text-danger" asp-validation-for="Juries"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input class="form-control" id="contest-image" asp-for="Image">
                <span class="text-danger" asp-validation-for="Image"></span>
            </div>

            <div class="text-danger" asp-validation-summary="All"></div>

            <input type="submit" id="btnConfirmHouses" value="Submit" class="mt-3 btn btn-primary" />
        </form>
    </div>
</div>

@section Style
{
    <link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
}

@section Scripts
{

    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#type").change(function () {
                var selectedType = $(this).children("option:selected").val();

                if (selectedType == 2) {
                    $("#invitation-list").show();
                } else {
                    $("#invitation-list").hide();
                }

            });

            var date = new Date();

            // add a day
            date.setDate(date.getDate() + 1);

            $('#datepicker').datepicker({

                startDate: date,
                showMeridian: false,
                format: "yyyy-mm-dd",
                timeFormat: 'hhmm',
                todayHighlight: true,
                autoclose: true
            });

            $('#datetimepicker').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                setStartDate: date
            });
        });
    </script>
}

