﻿@model PhotoContest.Web.Models.DashboardJunkieViewModel
@{
    ViewData["Title"] = "Dashboard";
}

@section Style{
    <link rel="stylesheet" href="~/css/userlist.css" />
}



<div class="container">

    <!-- Row start -->
    <div class="row gutters mb-3">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

            <h1>Welcome @Model.User.FirsName @Model.User.LastName</h1>
            <hr />
            <h5>Info</h5>
            <p>@Model.MyRankingInfo</p>
        </div>
    </div>
    <!-- Row end -->

    <div class="row mb-3">
        <h3 class="display-6">Open Contests</h3>
        <hr />
    </div>

    <div class="row mb-3">
        @if (Model.OpenContests.Count != 0)
        {
            @foreach (var item in Model.OpenContests)
            {
                @await Html.PartialAsync("_ContestCard", item)
            }
        }
        else
        {
            <p>There are no items yet!</p>
        }
    </div>

    <div class="row mb-3">
        <h3 class="display-6">Contest that I am a Jury</h3>
        <hr />
    </div>

    <div class="row mb-3">
        @if (Model.ContestsJuryIn.Count != 0)
        {
            @foreach (var item in Model.ContestsJuryIn)
            {
                @await Html.PartialAsync("_ContestCard", item)
            }
        }
        else
        {
            <p>There are no items yet!</p>
        }
    </div>

    <div class="row mb-3">
        <h3 class="display-6">Invited In Contests</h3>
        <hr />
    </div>

    <div class="row mb-3">
        @if (Model.ContestsInvitedIn.Count != 0)
        {
            @foreach (var item in Model.ContestsInvitedIn)
            {
                @await Html.PartialAsync("_ContestCard", item)
            }
        }
        else
        {
            <p>There are no items yet!</p>
        }
    </div>


    <div class="row mb-3">
        <h3 class="display-6">My Running Contests</h3>
        <hr />
    </div>

    <div class="row mb-3">
        @if (Model.MyRunningContests.Count != 0)
        {
            @foreach (var item in Model.MyRunningContests)
            {
                @await Html.PartialAsync("_ContestCard", item)
            }
        }
        else
        {
            <p>There are no items yet!</p>
        }
    </div>


    <div class="row mb-3">
        <h3 class="display-6">My Finished Contests</h3>
        <hr />
    </div>

    <div class="row mb-3">
        @if (Model.MyFinishedContests.Count != 0)
        {
            @foreach (var item in Model.MyFinishedContests)
            {
                @await Html.PartialAsync("_ContestCard", item)
            }
        }
        else
        {
            <p>There are no items yet!</p>
        }
    </div>


</div>