﻿@model PhotoContest.Web.Models.DashboardOrganaizerViewModel
@{
    ViewData["Title"] = "Dashboard";
}

@section Style{ 
    <link rel="stylesheet" href="~/css/userlist.css" />
}



<div class="container">

    <!-- Row start -->
    <div class="row gutters mb-3">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

            <h1>Welcome @Model.Organaizer.FirsName @Model.Organaizer.LastName</h1>
            <hr />
            <div class="mt-4 mb-4">
                <a class="btn btn-primary" asp-controller="Dashboard" asp-action="CreateContest">Create New Contest</a>
            </div>

            <p>
                Still court no small think death so an wrote. Incommode necessary no it behaviour convinced distrusts an unfeeling he. 
                Could death since do we hoped is in. Exquisite no my attention extensive. 
                The determine conveying moonlight age. Avoid for see marry sorry child. Sitting so totally forbade hundred to.
            </p>
            <p>
                Gave read use way make spot how nor. In daughter goodness an likewise oh consider at procured wandered. 
                Songs words wrong by me hills heard timed. Happy eat may doors songs. Be ignorant so of suitable dissuade weddings together. 
                Least whole timed we is.
                An smallness deficient discourse do newspaper be an eagerness continued. Mr my ready guest ye after short at.
            </p>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <div class="card m-0">
                <!-- Row start -->
                <div class="users-container">
                    <ul class="users">
                        @foreach (var item in Model.Users)
                        {
                            @await Html.PartialAsync("_UserCard", item)
                        }
                        <li>
                            <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Users">All Users</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->

    <div class="row mb-3">
        <h3 class="display-6">Contests Phase I</h3>
        <hr />
    </div>

    <div class="row mb-3">
        @if (Model.ContestPhaseOne.Count != 0)
        {
            @foreach (var item in Model.ContestPhaseOne)
            {
                @await Html.PartialAsync("_ContestCard", item)
            }
        }
        else
        {
            <p>There are no items yet!</p>
        }

    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
        <a class="btn btn-primary" href="/Dashboard/Contests?type=phaseone" role="button">See All</a>
    </div>

    <div class="row mb-3">
        <h3 class="display-6">Contests Phase II</h3>
        <hr />
    </div>

    <div class="row mb-3">
        @if (Model.ContestPhaseTwo.Count != 0)
        {
            @foreach (var item in Model.ContestPhaseTwo)
            {
                @await Html.PartialAsync("_ContestCard", item)
            }
        }
        else
        {
            <p>There are no items yet!</p>
        }
    </div>

    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
        <a class="btn btn-primary" href="/Dashboard/Contests?type=phasetwo" role="button">See All</a>
    </div>

    <div class="row mb-3">
        <h3 class="display-6">Finished Contests</h3>
        <hr />
    </div>

    <div class="row mb-3">
        @if (Model.ContestPhaseFinished.Count != 0)
        {
            @foreach (var item in Model.ContestPhaseFinished)
            {
                @await Html.PartialAsync("_ContestCard", item)
            }
        }
        else
        {
            <p>There are no items yet!</p>
        }
    </div>
    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
        <a class="btn btn-primary" href="/Dashboard/Contests?type=finished" role="button">See All</a>
    </div>
</div>