﻿@model List<PhotoContest.Web.Models.ContestItemViewModel>

@{
    ViewData["Title"] = "Photos";
}

@section Style
{

    <style>
        .btn:focus, .btn:active, button:focus, button:active {
            outline: none !important;
            box-shadow: none !important;
        }

        #image-gallery .modal-footer {
            display: block;
        }

        .thumb {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" asp-controller="Dashboard" asp-action="ContestItem" asp-route-id="@item.ContestItemId" data-image-id="" data-toggle="modal" data-title=""
                       data-image="~/uploads/@item.PhotoName"
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="~/uploads/@item.PhotoName"
                             alt="@item.Title">
                    </a>
                </div>
            }

        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/gallery.js"></script>
}