﻿@model List<PhotoContest.Web.Models.UserViewModel>

@{
    ViewData["Title"] = "Users";
}

@section Style{
    <link rel="stylesheet" href="~/css/userlist.css" />
}


<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
        <div class="card m-0">
            <!-- Row start -->
            <div class="users-container">
                <ul class="users">
                    @foreach (var item in Model)
                    {
                        @await Html.PartialAsync("_UserCard", item)
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
