﻿@model PhotoContest.Web.Models.PhaseOneViewModel

<div class="container">
    <div class="row offset-4 col-4  mb-5">
        <form enctype="multipart/form-data" class="form-horizontal" asp-controller="Dashboard" asp-action="PhaseOne"
              asp-all-route-data="@(new Dictionary<string, string>(){ { "id", Model.ContestId.ToString() } })" method="post">

            @Html.AntiForgeryToken()

            <div id="legend">
                <h2 class="h3 mb-3 font-weight-normal">Upload Image</h2>
                <hr />
            </div>
            <div class="control-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <div class="controls">
                    <input class="input-xlarge form-control" id="exampleInputPassword1" asp-for="Title">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="control-group mb-3">
                <label asp-for="Story" class="control-label"></label>
                <div class="controls">
                    <textarea class="input-xlarge form-control" id="exampleInputPassword1" asp-for="Story"></textarea>
                    <span class="text-danger" asp-validation-for="Story"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Photo" class="form-label"></label>
                <input class="form-control" id="contest-image" asp-for="Photo">
                <span class="text-danger" asp-validation-for="Photo"></span>
            </div>

            <div class="control-group mb-3">
                <div class="controls">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>

        </form>
    </div>

</div>

