﻿@model PhotoContest.Web.Models.LoginViewModel
 
@{ 
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <form class="form-signin" method="post" asp-controller="Account" asp-action="Login">

                @Html.AntiForgeryToken()

                <div class="control-group mb-3">
                    <!-- Username -->
                    <label asp-for="Username" class="control-label"></label>
                    <div class="controls">
                        <input class="input-xlarge form-control" id="exampleInputPassword1" asp-for="Username">
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>
                </div>

                <div class="control-group mb-3">
                    <!-- Password -->
                    <label asp-for="Password" class="control-label"></label>
                    <div class="controls">
                        <input type="password" class="input-xlarge form-control" id="exampleInputPassword1" asp-for="Password">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <input class="btn btn-primary btn-block mb-2" type="submit" value="Login" />

                <div class="control-group mb-3">
                    <div class="controls">
                        Don't Have an Account? <a asp-controller="Account" asp-action="Register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>