﻿@model PhotoContest.Web.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row offset-4 col-4">
        <form class="form-horizontal" asp-action="Register" asp-controller="Account" method="post">

            @Html.AntiForgeryToken()

            <div id="legend">
                <h2 class="h3 mb-3 font-weight-normal">Register</h2>
                <hr />
            </div>
            <div class="control-group mb-3">
                <!-- Username -->
                <label asp-for="Username" class="control-label"></label>
                <div class="controls">
                    <input class="input-xlarge form-control" id="exampleInputPassword1" asp-for="Username">
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>
            </div>

            <div class="control-group mb-3">
                <!-- First Name -->
                <label asp-for="FirstName" class="control-label"></label>
                <div class="controls">
                    <input class="input-xlarge form-control" id="exampleInputPassword1" asp-for="FirstName">
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>

            <div class="control-group mb-3">
                <!-- Last Name -->
                <label asp-for="LastName" class="control-label"></label>
                <div class="controls">
                    <input class="input-xlarge form-control" id="exampleInputPassword1" asp-for="LastName">
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>

            <div class="control-group mb-3">
                <!-- Password-->
                <label asp-for="Password" class="control-label"></label>
                <div class="controls">
                    <input class="input-xlarge form-control" id="password" asp-for="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="control-group mb-3">
                <!-- Password -->
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <div class="controls">
                    <input class="input-xlarge form-control" id="password_confirm" asp-for="ConfirmPassword">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>

            <div class="control-group mb-3">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-primary btn-block">Register</button>
                </div>
            </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="control-group mb-3">
                <!-- Button -->
                <div class="controls">
                    Have an account? <a asp-controller="Account" asp-action="Login"> Log In</a>
                </div>
            </div>

        </form>
    </div>
</div>

